<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Google vérification | Discord IT-Akademy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body class="bg-dark">
<main class="form-signin w-100 m-auto">
    <div class="text-center text-light">
        <img class="mx-auto" src="/img/akahibou.png" alt="Logo IT-Akademy" width="250"/>
        <h1>✅ Google-Discord vérification</h1>
        <p>Pour vérifier votre compte Discord et rejoindre le serveur des étudiants de l'IT-Akademy, veuillez vous connecter avec votre compte Google it-students.fr :</p>
        <hr class="my-4">
        <a href="/auth/google" class="btn btn-light btn-lg"><img src="/img/google.svg" alt="Logo Google" width="20"/> Vérifier mon compte Google</a>
    </div>
</main>
</body>
</html>