<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Google vérification | Discord IT-Akademy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body class="bg-dark">
<main class="form-signin w-100 m-auto">
    <div class="text-center text-light">
        <img class="mx-auto" src="/img/akahibou.png" alt="Logo IT-Akademy" width="250"/>
        <h1>❌ Oops, une erreur est survenue</h1>
        <p>Il semblerait que vous tentiez d'accéder à la vérification de compte sans passer par une redirection Discord.</p>
        <hr class="my-4">
    </div>
</main>
</body>
</html>